@media (min-width: 768px) {
    body {
        background-image: url(/styles/assets/backgroundimg.jpg);

        background-size: cover;
        background-position: center;
        background-attachment: fixed;

    }

    .header-container {
        flex-direction: column;
        gap: 0;
    }

    .header-info span {
        font-size: clamp(0.75rem, 5vw - 1.5rem, 1.5rem);
        color: var(--black);
        margin: 0rem;
    }



    .content-container {
        margin: auto;
        padding: 2rem 1.5rem 1rem 1.5rem;

        background-color: var(--glass);
        border: 3px solid var(--glass-border);
        backdrop-filter: blur(40px);

        border-radius: 16px;
    }

    .todo-input,
    .grey-line-divider,
    .todo-item,
    .todo-item-done,
    .clear-btn,
    .delete-btn,
    .filter-btn {
        mix-blend-mode: multiply;
    }

    .filter-btn:hover {
        background-color: rgb(216, 216, 216);
    }

    .clear-btn:hover {
        background-color: var(--red);
        color: var(--white);
        box-shadow: 0px 1px 5px rgba(221, 41, 0, 0.2);
    }

}