/*
Palette
*/
:root {
    --black: #1A1A1A;
    --grey: #979797;
    --light-grey: #BCBCBC;
    --white-background: #EDEDED;
    --white: #FAFAFA;

    --red: #DD2900;
    --light-red: #FDB2A1;

    --glass: rgba(255, 255, 255, 0.85);
    --glass-border: rgba(255, 255, 255, 0.7);
}

* {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    box-sizing: border-box;
}

body,
h1 {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

body {
    margin-bottom: 4rem;
    background-color: var(--white);
}


/*  Header */
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 2rem;
    margin: 1.5rem 1.5rem 0rem 1.5rem;
}

.daily-logo {
    font-family: 'Archivo Black', sans-serif;
    font-weight: bold;
    font-size: clamp(3rem, 5vw + 1rem, 4rem);
}

.header-info {
    font-size: 12px;
    color: var(--grey);
}


/*  Content */
.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    margin: 0rem 1.5rem;
}

.top-component-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-group {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    height: 40px;
}


/*  Input form  */
.todo-input {
    display: flex;
    flex: 1;
    min-width: 200px;
    max-width: 600px;

    border-radius: 4px;
    border: 1px solid var(--light-grey);
    background-color: var(--white);

    padding: 0.75rem 0.625rem;
}

.add-btn {
    background-color: var(--black);
    color: var(--white);
    min-width: 56px;

    border-radius: 4px;
}


/*  Filter buttons  */
.filter-buttons {
    display: flex;
    gap: 1rem;
}

.filter-btn {
    min-width: 72px;
    max-width: 96px;
    height: 40px;

    border: none;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;

    background-color: transparent;
}

.filter-btn:hover {
    background-color: var(--white-background);
    color: var(--black);
    transition: all 0.3s ease-out;
}

.filter-btn.active-filter {
    background-color: var(--black);
    color: var(--white);
    transition: all 0.35s ease-out;
}

/*  Grey line divider   */
hr.grey-line-divider {
    display: inline-block;
    border-top: 1px solid var(--light-grey);
    width: 100%;
}

hr.grey-line-divider.hide {
    display: none;
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    height: 72px;
    min-width: 200px;
    max-width: 800px;

    padding: 0.75rem 1.625rem;

    border: 1px solid var(--light-grey);
    border-radius: 8px;
    background-color: var(--white);
}

.todo-item-left-section {
    display: flex;
    gap: 1rem;
}

.delete-btn {
    display: none;
    width: 40px;
    height: 40px;

    border: none;
    border-radius: 8px;
    background-color: transparent;
    color: var(--light-grey);
    transition: all 0.35s ease-out;
}

.todo-text.done {
    text-decoration: line-through;
    color: grey;
}

.todo-item:hover .delete-btn {
    display: inline-block;
    transition: all 0.35s ease-out;
}

.todo-item:hover .delete-btn:hover {
    color: var(--red);
    background-color: ;
}

.clear-btn {
    min-width: 72px;
    max-width: 120px;
    height: 40px;

    border: none;
    border-radius: 4px;
    background-color: transparent;

    color: var(--red);
}